h1 {
    text-align: center;
    color: tomato;
}
p {
    display: none;
}
button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: lightblue;
}
button:hover {
    background-color: rgb(49, 162, 200);
}
.show_response {

    font-size: 3em;
    font-weight: bold;
    transform: rotate(20deg);
}